.reg-container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  /* padding-bottom: 10; */
  box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.logo {
  text-align: center;
}
.logo img {
  width: 250px;
}
.form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.form input {
  margin-bottom: 20px;
  background: #f9f9f9;
  border: none;
  padding: 8px 8px;
}
.form input:last-child {
  margin-bottom: 0;
}
.form input[type="submit"] {
  font-size: 16px;
  background: rgba(238, 46, 46, 0.933);
  font-weight: 600;
  color: white;
  cursor: pointer;
}
