.service-container {
  text-align: center;
  width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px 100px;
}
.btn-div {
  text-align: center;
  margin: 30px 0;
}
.btn-div a {
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(238, 59, 59);
  border-bottom: 1px solid #000;
  text-decoration: none;
  transition: 0.2s ease-in;
}
.btn-div a:hover {
  color: black;
  border-bottom: 1px solid rgb(238, 59, 59);
}

@media only screen and (max-width: 550px) {
  .service-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width: 100%;
    padding: 20px;
  }
}
